/Android_apk/*
/Library/*
/Logs/*
/obj/*
/Packages/*
/Temp/*
*.manifest
*.resource
*.scene
*.csproj
/.git/*
/.vs/*
Assets/AssetBundles/*
Assets/Scenes/MainScene.unity
Assets/Scripts/Luancher.meta
Assets/Scripts/Luancher.meta
ProjectSettings/GraphicsSettings.asset
ProjectSettings/GraphicsSettings.asset
SCFish.sln
Assets/Scripts/Luancher.meta
Assets/Scripts/Luancher.meta
